.containerLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.containerElem{
    display: flex;
    
}

.containerElem:first-child {
    margin-right: auto;

}
.containerElem:last-child {
   margin-left: 25px;
   margin-right: 20px;
}

.profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile:active {
    opacity: 0.5;
}

.logo{
    width: 200px;
    height: 65px;
    
}
.arrow {
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

.arrow:active {
    opacity: 0.5;
}

.hiddenElem {
    visibility: hidden;
}

.container {
    margin: 0 auto;
    width: 30%;
}

.header {
    color: darkslategray;
    font-family: 'open-sans'
}

.addIcon {
    position: fixed;
    left: -10px;
}

.addIconImg {
    width: 100px;
    height: 100px;
}

.categoryHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px; 
   

}

.categoryButton {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    border-radius: 50%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.categoryButtonBottom {
    margin-top: 60px;
}

.categoryButton:active {
    opacity: 0.5;
}

.catImage {
    width: 110px;
    height: 110px;
    
    
}

