.containerLogo {
    margin: 0 auto;
    width: 50%;
}

.addButton {
    background-color: #254373;
    border: none;
    color: whitesmoke;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
  }

  .addButton:focus {
      outline: none;
      box-shadow: none;
  }

  .addButton:active {
      opacity: 0.5;
  }

  .addHolder {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .goBackHolder{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
  }

  .hide{
      visibility: hidden;
  }

  .goBack {
    background:none;
    border:none;
    cursor: pointer;
    
  }

  .goBack:focus {
    outline: none;
    box-shadow: none;
  }

  .goBack:active {
      opacity: 0.5;
  }

  .goBackIcon {
      width: 25px;
      height: 25px;
  }

  .goBackIcon:focus {
    outline: none;
    box-shadow: none;
  }



.logo{
    width: 200px;
    height: 65px;
}

.container {
    margin: 0 auto;
    width: 30%;
}

.header {
    color: darkslategray;
    font-family: 'open-sans'
}

.titlePicture {
    display: flex;
    flex-direction: row;
}

.catHeading {
    font-size: 45px;
    font: 'open-sans'
}

.titleImage {
    width: 100px;
    height: 100px;
}