.modal {
    background: rgba(0, 0, 0, 0.6);
  }

 .modal_container {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    max-width: 250px;
    width: 250px;
    /* height: 300px; */
    max-height: 400px;
    padding: 30px;
    transform: translate(-50%, -220%);
    background: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
 }

 .cell_container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap; 
     justify-content: space-evenly; 
     align-items: flex-start;
     width: 250px;
     height: 250px;
     overflow-y: scroll;
 }

 .title {
     position: relative;
     margin-left: 35%;
     font-family: 'Open Sans';
     font-size: 120%;
 }

 .modal_container_empty {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    max-width: 250px;
    max-height: 400px;
    padding: 30px;
    transform: translate(-50%, -780%);
    background: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
 }

 .modalEmpty {
    background: rgba(0, 0, 0, 0.6);
 }
 
 .close {
     width: 20px;
     height: 20px;
 }


 .buttonClose {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 5%;
 }

 .buttonClose:focus {
    outline: none;
    box-shadow: none;

 }

 .buttonClose:active {
     opacity: 0.5;
 }