.MafEHZi8cScWy7JEmaxOJ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d9sIa7sp3-Cb_O_WqLSgM {
    width: 200px;
    height: 65px;
}

.X8_df-VQELMOL9JLNT5ZC {
    font-size: 35px;
    padding-bottom: 20px;
    
}

._2DE6MKk7069Di3lp4UeDg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    color: #254373;
    font-size: 15px;
    width: 350px;
    /* height: 600px; */
}

.sn4oQo5UqH8TRtZgta5l {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 50px;
    width: 80%;
  }

  .sn4oQo5UqH8TRtZgta5l label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#254373;	
    transition: all 0.5s ease-in-out;
  }
  .sn4oQo5UqH8TRtZgta5l input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:3px 0 5px 0;
    font-size:16px;
    color:#434547;
  }
  .sn4oQo5UqH8TRtZgta5l input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #254373;	
  }

  .sn4oQo5UqH8TRtZgta5l input:focus ~ label,
  .sn4oQo5UqH8TRtZgta5l {
	top:-12px;
	font-size:12px;
	
}

._3_RywaJ1g9Jv-05lhPp4nS {
    background-color: #254373;
    border: none;
    color: whitesmoke;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

._3_RywaJ1g9Jv-05lhPp4nS:focus {
    outline: none;
}

._3_RywaJ1g9Jv-05lhPp4nS:active {
    opacity: 0.5;
}

.UlEt47_fliNM5hSQPU9Yh {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    padding-top: 100px;
}

.UlEt47_fliNM5hSQPU9Yh:focus {
    outline: none;
}

.UlEt47_fliNM5hSQPU9Yh:active {
    opacity: 0.5;
}
._2VfrALxiIk2ygoOIrk3wXa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

._2XnCxaigpHKkNzrrHVxfRZ{
    display: flex;
    
}

._2XnCxaigpHKkNzrrHVxfRZ:first-child {
    margin-right: auto;

}
._2XnCxaigpHKkNzrrHVxfRZ:last-child {
   margin-left: 25px;
   margin-right: 20px;
}

._1-Std_2xoRQoh_3fdfeJs- {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

._1-Std_2xoRQoh_3fdfeJs-:active {
    opacity: 0.5;
}

.I_l0SUk0Vlqwzzc74WEAO{
    width: 200px;
    height: 65px;
    
}
._83rnSItgNYZoN7o3amzoh {
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

._83rnSItgNYZoN7o3amzoh:active {
    opacity: 0.5;
}

._29D3pSUo_jkb1sovUDh5- {
    visibility: hidden;
}

._31oraJ0LfFpmABjUsO1ucY {
    margin: 0 auto;
    width: 30%;
}

._19kJuNRuLWNH4xNG-oE9IE {
    color: darkslategray;
    font-family: 'open-sans'
}

._3xipXBQrlBwTIf5HHYcy_z {
    position: fixed;
    left: -10px;
}

.lcXnD_B_N8HsQBx3hAxSf {
    width: 100px;
    height: 100px;
}

.tjhohF8uGmL5pq1imc9Q3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 70px; 
   

}

.R1WSwAMTR0N-9LfMuur8n {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    border-radius: 50%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

._3XDJaNf0MGAFfXXzvLJTK6 {
    margin-top: 60px;
}

.R1WSwAMTR0N-9LfMuur8n:active {
    opacity: 0.5;
}

._2-VJ_4FtFMoQdQVeYlMuKF {
    width: 110px;
    height: 110px;
    
    
}

._3ZtayFgg6KZeas39NAYwQP {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/workout.png');
    background-size: cover;
}

.gX_eEW58TkZ7gEsAyyFK3 {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/workClothes.png');
    background-size: cover;
}

.rX0kZ-_U9l2KEyzErjJYE {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/party.png');
    background-size: cover;
}

._3cNSEr8ZEN5FCL1NFSKG4l {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/gift.png');
    background-size: cover;
}

._15tkwdALfF-mOmZUX4Jrva {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/furniture.png');
    background-size: cover;
}

._3GArA4BU0yKq15AtJx_Uh6 {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/other.png');
    background-size: cover;
}

._3WaO78BZ1n4HXW8QgSSevO {
    visibility: hidden;
}

._17VsJ6W9-amzAFc-VjJeR8 {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -4000%);
}


._1uasNWHkIIrlcL6vhV3pqu {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/workout.png')
}

.rHZVIDDGAvQcE_N19t_17 {
    background-color: aquamarine
}

._1gL4_0IqB_vD5I-oH4N0MY {
    background-color: orange
}

._2KVegiXl8gr2tHGvCZD8rx {
    background-color: blue
}

._2NxbDUXRQQ04tfPaC1kbLI {
    background-color: red
}

._3g1WAlZhcE4WvgfZ9iakTa {
    background-color: black
}

._2UCKwS_nfMz5b0AD21cYJX {
    background-image: url('https://muna1.s3-us-west-1.amazonaws.com/whiteCircle.png');
}

._3YsoToxld1PEhrhtOB2XCt {
    width: 110px;
    height: 110px;
    cursor: pointer;
    position: absolute;
    will-change: transform, opacity;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

._1q3quar8coQljVziNbWnZv {
    width: 110px;
    height: 110px;
    margin-top: 45px;
}

._2MuEvQ_TCNODXaYaZFw0ZG {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}


._3yOZEa7xJmtyhgP9Ca9G-H,
._2UCKwS_nfMz5b0AD21cYJX {
  background-size: cover;
}

._3Ac646kZYV5MqfGIbLUN9C {
    width: 110px;
    height: 110px;    
    
}

._3yMlyhi4q8RiBhPmf6GM8h {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
    margin: auto;
}

._2FSHWo6h206sUId5DHghrq {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    border-radius: 50%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

._2FSHWo6h206sUId5DHghrq:active {
    opacity: 0.5;
}

._15_hx1QruJrC1xkKLDjoyX {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

._15_hx1QruJrC1xkKLDjoyX:active {
    opacity: 0.5;
}

.KAKyC0SKPjZKccjJb4XOn {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.KAKyC0SKPjZKccjJb4XOn:active {
    opacity: 0.5;
}

._3PORMHqS1l-WboXaESAHTf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

._3hFvUsWggdCGunUUERbS-4 {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

._2l4DuqTCIMVYe9C_x35NnH{
    visibility: hidden;
}
._2DCgcZR8X6sFRqtHLWUNuo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    color: #254373;
    font-size: 15px;
}

._2sch5_6F-2Hr3_xcKyKyOG{
    width: 200px;
    height: 65px;

}

._2W_H6aoLdZwEQquUPtOnae {
    font-family: 'Roboto';
    font-size: 30px;
    color: #254373;
    padding-bottom: 25px;
}

.sFP9Wff4DSYNTgj_RNkRd {
    background-color: #254373;
    border: none;
    color: whitesmoke;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

._3HeSUksInuO-1ziyws8rHr {
    padding-top: 25px;
}

.sFP9Wff4DSYNTgj_RNkRd:focus {
    outline: none;
}

.sFP9Wff4DSYNTgj_RNkRd:active {
    opacity: 0.5;
}

._1jJ801aI0TTm-LcUZHf8wA {
    padding-top: 80px;
}

._3GjRpUS8dLN2EaXScEwiej {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

.ZbtPealfXrn2FKq1Bbn5D {
    width: 45px;
    height: 45px;
}

._3GjRpUS8dLN2EaXScEwiej:focus {
    outline: none;
}
._3GjRpUS8dLN2EaXScEwiej:active {
    opacity: 0.5;
}

 .w8T2Kb1YPl9sWPF9bE9DM {
    background: rgba(0, 0, 0, 0.6);
    margin-top: 100px;
  }
  /* .modalContainer {
    position: relative;
    width: 20%;
    background: whitesmoke;
    left: 5%;
    top: 30%;
    padding: 20px;
    border-radius: 5;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  } */

  .t5MskX46_p0sKYEEE3uBa {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    padding: 30px;
    transform: translate(-50%, -280%);
    background: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }

  ._1QJx580-3-N8iY8ZEtoCdk {
    -webkit-appearance: none;
  }

  ._2UMsd21KbpNoI1liyTvl64 {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: whitesmoke;
    
  }

  .hVFwAuh_3MQGmEfgmW56z {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 50px;
    width: 100%;
  }

  .hVFwAuh_3MQGmEfgmW56z label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#254373;	
    transition: all 0.5s ease-in-out;
  }
  .hVFwAuh_3MQGmEfgmW56z input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:3px 0 5px 0;
    font-size:16px;
    color:#434547;
  }
  .hVFwAuh_3MQGmEfgmW56z input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #254373;	
  }

  .hVFwAuh_3MQGmEfgmW56z input:focus ~ label,
  .hVFwAuh_3MQGmEfgmW56z {
	top:-12px;
	font-size:12px;
	
}


.skrg-T82CEA7aYRriac4t {
  background-color: #254373;
  border: none;
  color: whitesmoke;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 15px;
}

.skrg-T82CEA7aYRriac4t:focus {
    outline: none;
    box-shadow: none;
}

.skrg-T82CEA7aYRriac4t:active {
    opacity: 0.5;
}

._2me02XnSD65BVb1rjERqxw {
  background:none;
    border:none;
    cursor: pointer;
}

._2me02XnSD65BVb1rjERqxw:focus {
  outline: 0;
}

._2me02XnSD65BVb1rjERqxw:active {
  opacity: 0.5;
}

._1QF5CjG5lk82FxEBnZsWn- {
  width: 25px;
  height: 25px;
  padding: 10px 0 0 0;
}

.LMMuRY5WPj_PYy0LG1w2o {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._3c7MVUk0_-IszNINMHqF2G {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dR4k1cM1NsLE1VO8QmrfS {
  font-family: 'Poppins', sans-serif; 
  font-size: 14px;
  color: #254373;
}

._6NwjE4i-daL89Y-ymf_sC {
  background-color: #254373;
  border: none;
  color: whitesmoke;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

._6NwjE4i-daL89Y-ymf_sC:active {
  opacity: 0.5;
}

._6NwjE4i-daL89Y-ymf_sC:focus {
  outline: none;
}

._1rK72Bx0916iCcIMHuGdqB {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
  padding: 30px;
  transform: translate(-50%, -560%);
  background: whitesmoke;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}



._1UbaH7_ANzKJND8waudJ5S {
    background: rgba(0, 0, 0, 0.6);
  }

 ._1vq6nOP94JZITRcJPJqAnC {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    max-width: 250px;
    width: 250px;
    /* height: 300px; */
    max-height: 400px;
    padding: 30px;
    transform: translate(-50%, -220%);
    background: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
 }

 ._1tH31adHU9RMnoqgBJdlAz {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap; 
     justify-content: space-evenly; 
     align-items: flex-start;
     width: 250px;
     height: 250px;
     overflow-y: scroll;
 }

 .RH5dTuO-n45UtKECvanz4 {
     position: relative;
     margin-left: 35%;
     font-family: 'Open Sans';
     font-size: 120%;
 }

 ._1eRvasqWKS7hgwRYbbvEeF {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    max-width: 250px;
    max-height: 400px;
    padding: 30px;
    transform: translate(-50%, -780%);
    background: whitesmoke;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
 }

 .tiZ4CTPeeKcO2FFRgYleq {
    background: rgba(0, 0, 0, 0.6);
 }
 
 ._3xInPhrTXv7QD2P64IS5B {
     width: 20px;
     height: 20px;
 }


 ._1HrFITL48DknCwt2xO4rcC {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 5%;
 }

 ._1HrFITL48DknCwt2xO4rcC:focus {
    outline: none;
    box-shadow: none;

 }

 ._1HrFITL48DknCwt2xO4rcC:active {
     opacity: 0.5;
 }
._3fQcMnVuLs3MHz4WMG2ufL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #d0d5e4;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

._3fQcMnVuLs3MHz4WMG2ufL:focus {
    outline: none;
    box-shadow: none;
}

._3fQcMnVuLs3MHz4WMG2ufL:active {
    opacity: 0.5;
}

._3xw08EL-3D7BzTn9siI3il {
    color: black;
    font-family: 'Open Sans';
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 85%;
}

._1o2AldICHGTavh0oBb2qhO {
    color: black;
    font-size: 12%;
    font-family: 'Open Sans';
}

._2rWMVSyw7-jQ7LtFq9bMAz {
    color: black;
    font-size: 10%;
    font-family: 'Open Sans';
}


